html, body {
  width: 100%;
}

body {
  font-family: "Open sans", sans-serif;
}


header {
  background-color: #E5F3F2;
  padding: 10px 0;
  font-family: 'Roboto Slab', serif;
}

h1 {
  text-align: center;
  margin: 10px 0 20px 0;
  color: #00A79D;
  font-size: 40px;
}

h1 span {
  color: #6D6E71;
}

form {
  width: 100%;
  margin: auto;
}

input, textarea, #save, .search {
  border: 2px solid #d1d3d4;
  font-family: "Open sans", sans-serif;
}

input, textarea, #save {
  display: block;
  margin: 15px auto;
}

input, textarea {
  width: 90%;
  height: 30px;
}

textarea {
  resize: none;
}

#body {
  min-height: 120px;
}

#save {
  width: 91%;
  background-color: #00A790;
  color: #FFF;
  border: none;
  height: 35px;
}

.search {
  width: 90%;
}

article {
  width: 90%;
  min-height: 200px;
  margin: auto;
  border-bottom: 2px solid #d1d3d4;
  position: relative;
  padding-top: 10px;
}


h2, p {
  margin: 0;
}

h2 {
  color: #6d6e71;
  display: inline;
  font-size: 22px;
  left: 0;
}

p {
  color: #939598;
  padding: 15px 0;
}

h3 {
  color: #6d6e71;
  font-size: 16px;

}

/*icons*/

.icon {
  width: 20px;
  position: absolute;
}

.downvote, .upvote {
  bottom: 0;
  margin-bottom: 20px;
  display: inline-block;
}

.inline-text {
  bottom: 0;
  margin-bottom: 20px;
}

.downvote {
  margin-left: 25px;
}

h3 #quality {

}

#unique-id {
  margin: 0;
  /*visibility: hidden;*/
}

#delete-btn {
 right: 0;
}



@media screen and (min-width: 700px) {

form, .ideas {
    width: 60%;
    margin: auto;
  }

#save, .search {
  width: 54%;
}

}
